<header id="SITE_HEADER_WRAPPER">
  <div id="SITE_HEADER">
    <div class="header-container">
      <div class="logo-and-tagline">
        <div id="comp-kmha1qne" class="logo">
          <a href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Hans F. Gude Art Logo">
          </a>
        </div>
        <div id="SITE_STRUCTURE_WRichText_0" class="tagline">
          <p>Online Portfolio of Fine Art & Illustration by</p>
          <h1>Hans F. Gude</h1>
        </div>
      </div>

      <nav id="DrpDwnMn0" class="navigation-menu" aria-label="Site">
        <ul>
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/about' | relative_url }}">Artist Bio</a></li>
          <li><a href="{{ '/by-medium' | relative_url }}">By Medium</a></li>
        </ul>
      </nav>

      <div id="FvGrdLn3" class="header-divider"></div>
    </div>
  </div>
</header>
