---
layout: default
---

<article class="gallery-page">
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
      <p class="subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </header>

  <ul class="photo-grid">
  {% assign gallery_artworks = site.artworks | where_exp: "art", "art.galleries contains page.gallery_id" %}
  {% for art in gallery_artworks %}
    <li>
      <a href="{{ art.url | relative_url }}">
        <figure>
          <img src="/assets/images/galleries/{{ art.image }}" alt="{{ art.title }}">
          <figcaption>{{ art.title }}</figcaption>
        </figure>
      </a>
    </li>
  {% endfor %}
  </ul>
</article>
